body {
    background-color: #BDFDFF;
    color: white;
    font-family: Arial, sans-serif;
}

#news-container a {
    color: white;
    text-decoration: none;
}

#load-more {
    background-color: #0047AB;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
